<!DOCTYPE html>
<html>
    <head>
        <title>Robot Shi-Nwa</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
    </head>

    <body>
        <div id="header">
            <div>
                <a href="{{ url_for('index') }}"><p>Robot Shi-Nwa</p></a>
                <a href="{{ url_for('story') }}"><p>L'histoire de l'Empire Shi-Nwa</p></a>
            </div>
            <div>
                <div id="header_controller">
                    <img src="{{ url_for('static', filename='images/xbox_controller.png') }}" onclick="select_device('controller')">
                </div>
                <div id="header_keyboard">
                    <img src="{{ url_for('static', filename='images/keyboard.png') }}" onclick="select_device('keyboard')">
                </div>
            </div>
        </div>
    </body>
</html>