<!DOCTYPE html>
<html>

    <head>
        <title>Robot Shi-Nwa</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
    </head>

    <body>

        <div id="header">
            <div>
                <p>Robot Shi-Nwa</p>
            </div>
            <div>
                <div id="header_controller">
                    <img src="{{ url_for('static', filename='images/xbox_controller.png') }}" onclick="select_device('controller')">
                </div>
                <div id="header_keyboard">
                    <img src="{{ url_for('static', filename='images/keyboard.png') }}" onclick="select_device('keyboard')">
                </div>
            </div>
        </div>

        <div id="devices">
            <table>
                <tr>
                    <td><img src="{{ url_for('static', filename='images/xbox_controller.png') }}" alt="Manette Xbox" id="xbox_controller" onclick="xbox_controller()"></td>
                    <td><img src="{{ url_for('static', filename='images/keyboard.png') }}" alt="Clavier" id="keyboard" onclick="clavier('')"></td>
                </tr>
                <tr>
                    <td><button onclick="select_device('controller')">Manette Xbox</button></td>
                    <td><button onclick="select_device('keyboard')">Clavier</button></td>
                </tr>
            </table>
        </div>
        <p>Suuuuuuuuuuuuuuuiiiiiiii</p>

        <script src="{{ url_for('static', filename='scripts/inputs.js') }}"></script>
        <script src="{{ url_for('static', filename='scripts/index.js') }}"></script>
    </body>

</html>